body {
    margin: 0;
    padding-bottom: 60px; /* Match footer height */
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Footer height */
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    z-index: 1004;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .footer {
        height: 12vh;
        font-size: 0.9rem;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    .footer {
        height: 15vh;
        font-size: 0.8rem;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
}
