.container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-attachment: fixed;
    background-size: 1440px 1020px;
    width: 100%;
    min-height: 100vh;
}
.background_img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.contents{
    position: absolute; 
    top: 50%; 
    left: 5%; 
    transform: translateY(-50%);
    font-size: 70px;
    color: white;
}

