/*LOGO_HEADER*/
.homepage__logo_container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.homepage__imagine {
  width: 150px;
  height: auto;
}
/*END LOGO_HEADER*/
